<div >
  <form class="row" [formGroup]="cursoForm">
    <div class="col-6">
      <div class="mb-4">
        <label for="nombre_curso" class="form-label">Nombre Curso</label>
        <input type="text" class="form-control" id="nombre_curso" formControlName="nombre_curso" placeholder="Nombre_curso">
      </div>

      <div class="mb-4">
        <label for="creditos" class="form-label">Creditos</label>
        <input type="number" class="form-control" id="creditos" formControlName="creditos" placeholder="">
      </div>

      <div class="mb-4">
        <ng-container *ngIf="cursoForm.get('id').value == null">
          <button type="button" class="btn btn-success" (click)="create()">Guardar</button>
        </ng-container>

        <ng-container *ngIf="cursoForm.get('id').value !== null">
          <button type="button" class="btn btn-primary" (click)="edit()">Editar</button>
        </ng-container>
      </div>

    </div>
  </form>

  <div class="row">
    <div class="mb-12">
      <table class="table">
        <thead>
          <th>Nombre</th>
          <th>Creditos</th>
          <th>Acciones</th>
        </thead>

        <tbody>
          <tr *ngFor="let i of listCursos">
            <td>{{i.nombre_curso}}</td>
            <td>{{i.creditos}}</td>
            <td><button class="btn btn-primary" (click)="formInit(i)">Edit</button><button class="btn btn-danger" (click)="destroy(i.id)">del</button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
