<div class="row">
  <div class="mb-12">
    <div class="row align-items-center mb-3">
      <div class="col">
        <h1 class="mb-0">Módulo de Estudiantes</h1>
        <p class="mb-0">Gestion los estudiantes de la plataforma</p>
      </div>
      <!-- Botón para abrir el modal -->
    </div>

    <!-- Tabla de cursos -->

    <div style="border: 1px solid aliceblue; padding: 1rem;">
      <h3>Lista de Cursos ({{listEstudiante.length}})</h3>
      <span>Gestione todos los cursos del sistemas</span>
      <table class="table">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Email</th>
            <th>Cursos</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          @for (i of listEstudiante; track $index) {
            <tr>
              <td>{{ i.nombre }}</td>
              <td>{{ i.email }}</td>
              <td>
                <!-- <span class="badge rounded-pill text-bg-warning">Estudiantes {{i.length}}</span> -->
              </td>
              <td>
                <button class="btn btn-sm btn-primary me-2" data-bs-toggle="modal" data-bs-target="#cursoModal" (click)="formInit(i)">Agregar cursos</button>
                <!-- <button class="btn btn-sm btn-danger" (click)="destroy(i.id)">Eliminar</button> -->
              </td>
            </tr>
          }
        </tbody>
      </table>

    </div>
  </div>
</div>
